body {
	background-color: #F5F5F5;
}

.container {
	background-color: #FFF;
	border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    margin-top: 20px;
}

.centered-login {
    height: 400px;
    width: 260px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#post-message-form {
	padding: 10px;
}

div.timebadge {
	padding-right: 7px;	
}

.img-avatar {
    width: 128px;
    height: 128px;
}

.img-avatar-small {
    width: 48px;
    height: 48px;
}

#add-avatar-form {
  margin: 20px 0 5px;
}

